{$DOMAIN} {
    encode gzip zstd

    request_body {
        max_size 200MB
    }

    reverse_proxy app:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}
